p{color: brown;}
h1   {color: rgb(50, 50, 73);}
h2   {color: blue;}

body {background-color: rgb(125, 213, 225);} 
h4   {color:rgb(21, 32, 8)e;}
h1    {color:rgb(122, 68, 185)e;font-size: 160%;color: blue;}
h3    {color:rgb(228, 110, 20)e;}
p    {border: 2px solid powderblue;}

